@charset "UTF-8";

body {
    background-color: #172026;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
}

h1 {
    color: #5FCDD9;
}

h1#príncipal {
    text-align: center;
    background-color: #027373;
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

.basíco {
        color: #04BFAD;
}

.intermedíario {
        color: #04BFAD;
}

.avançado {
        color: #04BFAD;
}